[paths]
source =
    conda_subprocess/
    /Users/runner/work/conda_subprocess/conda_subprocess/conda_subprocess
    /home/runner/work/conda_subprocess/conda_subprocess/conda_subprocess
    D:\a\conda_subprocess\conda_subprocess\conda_subprocess
