name: Unittests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        include:
        - operating-system: macos-latest
          python-version: '3.13'

        - operating-system: ubuntu-latest
          python-version: '3.13'

        - operating-system: windows-latest
          python-version: '3.13'

        - operating-system: ubuntu-latest
          python-version: '3.12'

        - operating-system: ubuntu-latest
          python-version: '3.11'

        - operating-system: ubuntu-latest
          python-version: '3.10'

        - operating-system: ubuntu-latest
          python-version: 3.9

    steps:
    - uses: actions/checkout@v4
    - name: Conda config
      shell: bash -l {0}
      run: echo -e "channels:\n  - conda-forge\n" > .condarc
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        miniforge-version: latest
        condarc-file: .condarc
        environment-file: .ci_support/environment.yml
    - name: Test
      shell: bash -l {0}
      timeout-minutes: 5
      run: |
        pip install versioneer[toml]==0.29
        pip install . --no-deps --no-build-isolation
        conda create -y -n py312 python=3.12.1 conda=25.1.1 executorlib=0.0.10
        conda activate py312
        pip install versioneer[toml]==0.29
        pip install . --no-deps --no-build-isolation
        conda deactivate
        python -m unittest discover tests
